@model GorevListAllViewModel
@{
    ViewData["Title"] = "Detaylandir";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Raporlar.Count > 0)
{
    <a asp-action="GetirExcel" asp-route-id="@Model.Id" target="_blank" class="btn btn-outline-success  my-2 mr-2 btn-sm"><i class="fas fa-file-excel mr-2"></i>Excel</a>
    <a asp-action="GetirPdf" asp-route-id="@Model.Id"  target="_blank" class="btn btn-outline-danger my-2 mt-2 btn-sm"><i class="fas fa-file-pdf mr-2"></i>Pdf</a>
    <table  class=" text-center table table-hover table-sm mt-2" >
        <tr>
            <th  colspan="2">" @Model.AppUser.Name.ToUpper()  @Model.AppUser.Surname.ToUpper() " personelinizin @Model.Ad yazmış olduğu raporlar </th>
        </tr>
        <tr class="text-primary">
            <th>Tanim</th>
            <th>Detay</th>
        </tr>
        @foreach (var rapor in Model.Raporlar)
        {
            <tr >
                <td>@rapor.Tanim</td>
                <td>@rapor.Detay</td>
            </tr>

        }
    </table>

}
else
{
    <div class="border border-dark mt-2 text-center text-danger">
       "@Model.AppUser.Name.ToUpper() @Model.AppUser.Surname.ToUpper()" personeliniz şuan da @Model.Ad
        görevi üzerinde çalışıyor.Henüz bir rapor yazılmamış.
    </div>
}
